.container {
  display: flex;
  height: flex;
  width: 100vw;
}

.navigation {
  color: #fff;
  flex: 0 0 auto;
  padding: 20px;
  width: 186px; /* Adjust the width as needed */
}

.content {
  flex-grow: 1;
  background-color: #fff;
  border: 2px solid orange;
  padding: 20px;
}
